.logo-main {
	font-family: 'Russo One', sans-serif;
	display: flex;
	font-size: 3.5rem;
	
	padding-right: 3px;
}

.logo-left {
	display: flex;
	align-items: center;
}

.logo-right {
	padding-top: 36px;
}

.logo-right-top {
	font-size: 2rem;
	height: 65%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: -16px;
	
}

.logo-right-bottom {
	font-size: .75rem;
	height: 35%;

}