.sidebar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 15%;
	font-size: 1.50rem;
	border-right: black 2px solid;
	height: calc(100% - 72px);
	background: hsla(220deg, 80%, 80%, 1);
	position: fixed;
	left: 0;
	bottom: 0;
}

li {
	list-style: none;
	margin: 20px 0;
	cursor: pointer !important;
}

li:hover {
	color: hsla(0deg, 70%, 40%, 1) !important;
	
}

ul {
	padding-left: 25px;
}



